USE [master]
GO
/****** Object:  Database [QLGiaoVu]    Script Date: 9/23/2026 3:35:30 PM ******/
CREATE DATABASE [QLGiaoVu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLGiaoVu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\QLGiaoVu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLGiaoVu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\QLGiaoVu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLGiaoVu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLGiaoVu]
GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 9/23/2026 3:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY](
	[MaSV] [char](10) NOT NULL,
	[MaMH] [char](10) NOT NULL,
	[NgayDangKy] [date] NULL,
	[DiemQuaTrinh] [float] NULL,
	[DiemThi] [float] NULL,
	[DiemTongKet] [float] NULL,
 CONSTRAINT [PK_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 9/23/2026 3:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MaKhoa] [char](10) NOT NULL,
	[TenKhoa] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 9/23/2026 3:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MaMH] [char](10) NOT NULL,
	[TenMH] [nvarchar](100) NOT NULL,
	[SoTinChi] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 9/23/2026 3:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MaSV] [char](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[DiaChi] [nvarchar](150) NULL,
	[MaKhoa] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 9/23/2026 3:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[ChucVu] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DANGKY] ([MaSV], [MaMH], [NgayDangKy], [DiemQuaTrinh], [DiemThi], [DiemTongKet]) VALUES (N'SV002     ', N'MH001     ', CAST(N'2026-09-22' AS Date), 5, 5, 5)
INSERT [dbo].[DANGKY] ([MaSV], [MaMH], [NgayDangKy], [DiemQuaTrinh], [DiemThi], [DiemTongKet]) VALUES (N'SV002     ', N'MH003     ', CAST(N'2026-09-22' AS Date), 10, 9, 9.4)
INSERT [dbo].[DANGKY] ([MaSV], [MaMH], [NgayDangKy], [DiemQuaTrinh], [DiemThi], [DiemTongKet]) VALUES (N'SV003     ', N'MH002     ', CAST(N'2026-01-12' AS Date), 7, 7.5, 7.3)
GO
INSERT [dbo].[KHOA] ([MaKhoa], [TenKhoa]) VALUES (N'CNTT      ', N'Công Nghệ Thông Tin')
INSERT [dbo].[KHOA] ([MaKhoa], [TenKhoa]) VALUES (N'DTVT      ', N'Điện tử viễn thông')
INSERT [dbo].[KHOA] ([MaKhoa], [TenKhoa]) VALUES (N'KT        ', N'Kinh Tế')
GO
INSERT [dbo].[MONHOC] ([MaMH], [TenMH], [SoTinChi]) VALUES (N'MH001     ', N'Lập trình Hướng Đối Tượng', 3)
INSERT [dbo].[MONHOC] ([MaMH], [TenMH], [SoTinChi]) VALUES (N'MH002     ', N'Cơ sở dữ liệu', 3)
INSERT [dbo].[MONHOC] ([MaMH], [TenMH], [SoTinChi]) VALUES (N'MH003     ', N'Lập trình Web', 4)
GO
INSERT [dbo].[SINHVIEN] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [MaKhoa]) VALUES (N'SV002     ', N'Trần Thị Bình', CAST(N'2005-03-12' AS Date), 0, N'Cần Thơ', N'QTKD      ')
INSERT [dbo].[SINHVIEN] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [MaKhoa]) VALUES (N'SV003     ', N'Lê Minh Cường', CAST(N'2004-08-20' AS Date), 1, N'Đồng Nai', N'CNTT      ')
INSERT [dbo].[SINHVIEN] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [MaKhoa]) VALUES (N'SV004     ', N'Phạm Thu Dung', CAST(N'2005-05-02' AS Date), 0, N'Tiền Giang', N'QTKD      ')
GO
INSERT [dbo].[TAIKHOAN] ([TenDangNhap], [MatKhau], [HoTen], [ChucVu]) VALUES (N'admin', N'123456', N'Quản Trị Hệ Thống', N'ADMIN')
INSERT [dbo].[TAIKHOAN] ([TenDangNhap], [MatKhau], [HoTen], [ChucVu]) VALUES (N'giaovien', N'123456', N'Cán Bộ Giáo Viên', N'GIAOVIEN')
INSERT [dbo].[TAIKHOAN] ([TenDangNhap], [MatKhau], [HoTen], [ChucVu]) VALUES (N'giaovu', N'123456', N'Cán Bộ Giáo Vụ', N'GIAOVU')
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_MONHOC] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MONHOC] ([MaMH])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_MONHOC]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_SINHVIEN] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SINHVIEN] ([MaSV])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_SINHVIEN]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_KHOA] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[KHOA] ([MaKhoa])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_KHOA]
GO
USE [master]
GO
